<h1>SITPAC </h1>
<p>Solicitud de registro enviada por:</p>
<p>Nombre: {{ nombre }}</p>
<p>***************************************</p>
<h2>Sus Datos:</h2>
<p>Email: {{ email }}</p>
<p>Contraseña: {{ clave }}</p>
<p>***************************************</p>
<p><strong>Aun no puede ingresar al sistema como proveedor</strong>, su solicitud esta en estudio, se le notificara en este correo su aprobacion para que pueda ingresar.</p>
<p><h5>mensaje enviado por SITPAC (Sistema de informacion turistica de paquetes del cauca)</h5></p>